/* 
############
Color Scheme
############

#1C0B19 - Xiketic
#140D4F - Midnight Blue
#4EA699 - Polished Pine
#2DD881 - Emerald
#6FEDB7 - Medium Aquamarine

*/

/* Import Statements */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

footer {
  font-size: 0.7em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  clear: both;
  background-color: darkgreen;
}

body {
  background-color: #6fedb7;
}

p {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #140d4f;
  width: 420px;
  float: left;
  font-family: "Big Shoulders Display", cursive;
  letter-spacing: 0.25em;
}

nav {
  width: 490px;
  float: right;
  color: antiquewhite;
}
nav a {
  text-decoration: none;
  font-size: larger;
  color: aliceblue;
}

h2 {
  color: #4ea699;
}

#heropic {
  clear: both;
}

#leftcol {
  width: 440px;
  float: left;
  background-color: #2dd881;
  border: 2px solid black;
  padding: 1em;
}

#rightcol {
  width: 440px;
  float: right;
  background-color: #2dd881;
  border: 2px solid black;
  padding: 1em;
}

#wrapper {
  width: 980px;
  margin: auto;
  background-color: green;
  box-shadow: 5px 5px 5px #333;
  padding: 1em;
}

button {
  background-color: lightgreen;
  border-radius: 4px;
}

button a {
  color: #1c0b19;
  font-weight: bold;
  text-decoration: none;
}

p a {
  color: white;
}
