/* 
############
Color Scheme
############

#1C0B19 - Xiketic
#140D4F - Midnight Blue
#4EA699 - Polished Pine
#2DD881 - Emerald
#6FEDB7 - Medium Aquamarine

*/

/* Import Statements */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap");

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  padding: 1em;
  clear: both;
}

body {
  background-color: #6fedb7;
}

h1 {
  color: #140d4f;
  width: 420px;
  float: left;
  font-family: "Big Shoulders Display", cursive;
  letter-spacing: 0.25em;
}

nav {
  width: 490px;
  float: right;
}

h2 {
  color: #4ea699;
}

#heropic {
  clear: both;
}

#leftcol {
  width: 440px;
  float: left;
}

#rightcol {
  width: 440px;
  float: right;
}

#wrapper {
  width: 980px;
  margin: auto;
  background-color: #2dd881;
  box-shadow: 5px 5px 5px #333;
  padding: 1em;
}
