#wrapper {
  width: 80%;
  min-width: 750px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: yellowgreen;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
}

#sub_nav {
}

header {
  text-align: center;
  background-color: teal;
}

header h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  padding: 0.25em;
}

body {
  background-color: lightblue;
}

nav a {
  margin-left: 1em;
  text-decoration: none;
  font-size: 1.25em;
  color: white;
}

nav {
  background-color: slategray;
  text-align: center;
  padding: 0.15em;
}

/* footer */
footer {
  font-size: 0.7em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  color: white;
  background-color: teal;
}

main {
  padding: 0.5em;
}
