* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Verdana, Arial, sans-serif;
}

#wrapper {
  background-color: #b3c7e6;
}

header {
  color: #00005d;
  background-color: #869dc7;
  background-image: url(../images/light.gif);
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 0.5em 0 0.5em 5.5em;
}
main {
  background-color: #ffffff;
  color: #000000;
  padding: 1em;
}
aside {
  text-align: center;
}

footer {
  background-color: #869dc7;
  font-size: 70%;
  text-align: center;
  padding: 0.5em 0;
}

h2 {
  color: #869dc7;
}
img {
  padding: 1em;
}

/* Styles to configure navigation links as horizontal areas */
nav ul {
  list-style-type: none;
  padding-left: 0;
  border-top: 1px solid #eeeeee;
}
nav li {
  border-bottom: 1px solid #eeeeee;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
nav a {
  text-decoration: none;
  font-weight: bold;
}
nav a:link {
  color: #00005d;
}
nav a:hover {
  color: #ff0000;
}

/* make the current page's link look different */
nav #page {
  font-weight: bold;
  color: #fefefe;
}

/* Force older versions of Internet Explorer to display these HTML5 elements with block display. */
header,
nav,
main,
footer,
aside,
figure {
  display: block;
}

@media (min-width: 600px) {
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  nav ul li {
    border-bottom: none;
  }
  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  main {
    grid-area: main;
  }
  aside {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }
  #wrapper {
    display: grid;
    grid-template:
      "header header"
      "nav nav"
      "main aside"
      "footer footer"
      / 55%;
  }
} /* end of medium/tablet size */

@media (min-width: 1024px) {
  body {
    background-color: #000066;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  main {
    grid-area: main;
  }
  aside {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }
  #wrapper {
    width: 80%;
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template:
      "header header header"
      "nav    main   aside"
      "footer footer footer"
      / 150px;
  }
}
