#wrapper {
  width: 75%;
  margin: auto;
  background-color: silver;
  padding: 1em;
  border-radius: 0.5em;
  min-width: 425px;
}

footer {
  text-align: center;
  background-color: skyblue;
  border-radius: 6px;
}

nav a {
  padding-right: 15px;
  text-decoration: none;
  font-weight: bold;
  color: lightcyan;
}

nav a span {
  background-color: cadetblue;
  padding: 6px;
  border-radius: 4px;
}

nav a span:hover {
  background-color: lightblue;
}

nav a:hover {
  color: blue;
}

nav {
  text-align: center;
  background-color: skyblue;
  border-radius: 6px;
  padding: 10px;
}

footer p a {
  color: white;
  text-decoration: none;
}

footer p a:hover {
  color: gainsboro;
}

.heroPic {
  margin: auto;
  width: 95%;
}

header p {
  text-align: center;
}

h1 {
  text-align: center;
}

ul li {
  list-style-type: none;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../images/vincent-van-gogh.png);
  height: 24px;
}

ul li a {
  padding-left: 30px;
}

footer p i a {
  color: white;
  text-decoration: none;
}

footer p i a:hover {
  color: gainsboro;
}

figcaption {
  font-style: italic;
}
