* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url(../images/backgrounds/background.png);
}

#wrapper {
  width: 75%;
  margin: auto;
  background-color: lightcoral;
  border-radius: 0.5em;
  min-width: 425px;
}

main {
  padding: 2em;
  padding-top: 0;
  padding-bottom: 0;
}

footer {
  text-align: center;
  background-color: coral;
  border-radius: 6px;
  clear: both;
  padding: 8px;
  border-top: 3px lightpink solid;
}

h2 {
  color: whitesmoke;
  font-size: 1.65em;
}

p {
  font-family: "Courier New", Courier, monospace;
}

footer small a {
  color: darkslategray;
}

footer small a:hover {
  color: black;
}

footer p a {
  color: darkslategray;
  text-decoration: none;
}

footer p a:hover {
  color: black;
}

.heroPic {
  margin: auto;
  width: 100%;
  border-radius: 0.5em;
}

h1 {
  text-align: center;
  font-size: 4em;
}

table {
  border: 5px solid salmon;
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

td,
th {
  border: 1px solid salmon;
  padding: 0.75em;
  font-family: Arial, sans-serif;
  text-align: center;
}

th {
  text-align: center;
  font-size: 1.25em;
}

td {
  color: black;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

caption {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.65em;
  padding-bottom: 0.5em;
  color: whitesmoke;
  text-align: center;
  caption-side: top;
}

tr:nth-of-type(even) {
  background-color: whitesmoke;
}
tr:nth-of-type(odd) {
  background-color: lightgray;
}
tr:first-of-type {
  background-color: darkred;
  color: whitesmoke;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3em;
  }
} /* CSS for phone */

@media (max-width: 1200px) {
  body {
    margin: 0;
  }

  #wrapper {
    width: 100%;
  }
} /* CSS for tablet */

/*
Code for responsive table from... https://css-tricks.com/responsive-data-tables/
*/
@media only screen and (max-width: 1000px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  table {
    border: none;
  }
  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  caption {
    color: orangered;
    text-align: center;
    display: flex;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
