/* wrapper */
#wrapper {
  max-width: 1000px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  background-color: silver;
  padding: 1em;
  border-radius: 0.5em;
}

body {
  background-color: lightslategray;
  background-image: linear-gradient(to bottom, #ffffff, lightslategray);
  background-repeat: no-repeat;
}

.question {
  font-weight: bold;
  line-height: 150%;
  color: darkcyan;
  font-size: 1.25em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header h1 {
  text-align: center;
  color: slateblue;
  background-color: cadetblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.25em;
  border-radius: 0.25em;
}

.answer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#codeIMG {
  float: left;
  padding-left: 1em;
}

#connectedGlobeIMG {
  float: right;
  padding-right: 1em;
}

header h3 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.15em;
}

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  padding: 1em;
  clear: both;
  background-color: grey;
  border-radius: 0.5em;
}

#columnOne {
  width: 400px;
  float: left;
  background-color: gainsboro;
  padding: 0.5em;
  border-radius: 0.5em;
}

#columnTwo {
  width: 475px;
  float: right;
  background-color: gainsboro;
  padding: 0.5em;
  border-radius: 0.5em;
}

nav a {
  padding-left: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.25;
}

nav {
  background-color: grey;
  padding: 0.5em;
  border-radius: 0.5em;
}
