* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url(../images/backgrounds/background.png);
}

#wrapper {
  width: 75%;
  margin: auto;
  background-color: darkgray;
  padding: 1em;
  border-radius: 0.5em;
}

footer {
  text-align: center;
  background-color: lightblue;
  border-radius: 6px;
  clear: both;
  padding: 8px;
}

footer p a {
  color: white;
  text-decoration: none;
}

footer p a:hover {
  color: gainsboro;
}

.heroPic {
  margin: auto;
  width: 95%;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-size: 4em;
}

/* Styles to configure navigation links */
nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav li {
  padding: 5px;
  margin: 5px;
  width: 130%;
}

nav li a p {
  text-align: center;
  background-color: #87ceeb;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

nav {
  background-color: lightblue;
  border-radius: 8px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

nav li a p:hover {
  background-color: steelblue;
}

nav a:link {
  color: #00005d;
}
nav a:hover {
  color: slateblue;
}

.bulletPointResourcesOne li {
  list-style-type: none;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../images/icons/artificial-intelligenceOne.png);
  min-height: 34px;
  margin-bottom: 20px;
}
.bulletPointResourcesOne li a {
  text-decoration: none;
}
.bulletPointResourcesOne li {
  padding-left: 40px;
}

.bulletPointResourcesTwo li {
  list-style-type: none;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../images/icons/artificial-intelligenceTwo.png);
  min-height: 34px;
  margin-bottom: 20px;
}
.bulletPointResourcesTwo li a {
  text-decoration: none;
}
.bulletPointResourcesTwo li {
  padding-left: 40px;
}

.bulletPointResourcesThree li {
  list-style-type: none;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../images/icons/artificial-intelligenceThree.png);
  min-height: 34px;
  margin-bottom: 20px;
}
.bulletPointResourcesThree li a {
  text-decoration: none;
}
.bulletPointResourcesThree li {
  padding-left: 40px;
}

.resourceSection {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  min-height: 100%;
}

.indexContent figure img {
  width: 25%;
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3em;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  nav li {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  nav li {
    width: initial;
  }

  .resourceSection {
    border: none;
    min-height: initial;
  }
} /* CSS for phone */

@media (max-width: 1200px) {
  body {
    margin: 0;
  }
  #wrapper {
    width: 100%;
  }
  .resourceSection {
    border: none;
  }
} /* CSS for tablet */
