* {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  width: 75%;
  margin: auto;
  background-color: silver;
  padding: 1em;
  border-radius: 0.5em;
  min-width: 425px;
}

footer {
  text-align: center;
  background-color: #87ceeb;
  border-radius: 6px;
  clear: both;
  padding-top: 8px;
}

footer p a {
  color: white;
  text-decoration: none;
}

footer p a:hover {
  color: gainsboro;
}

.heroPic {
  margin: auto;
  width: 95%;
  padding-top: 1em;
}

h1 {
  text-align: center;
  font-size: 4em;
}

figcaption {
  font-size: 1.25em;
}

.IMGonArtworkPage {
  width: 50%;
  height: auto;
}

.aboutIMG {
  width: 40%;
  height: auto;
  padding: 10px;
  min-width: 155px;
}

.indexIMG {
  width: 70%;
}

header figure figcaption {
  padding-left: 2em;
}

.contentWrap {
  width: 93%;
  margin: auto;
}

/* Styles to configure navigation links as horizontal areas */
nav ul {
  list-style-type: none;
  padding-left: 0;
}
nav li {
  text-align: center;
  background-color: #87ceeb;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: 130%;
}
nav a {
  text-decoration: none;
  font-weight: bold;
}
nav a:link {
  color: #00005d;
}
nav a:hover {
  color: slateblue;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav {
  background-color: lightblue;
  border-radius: 8px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3em;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  nav li {
    width: initial;
  }
} /* CSS for phone */

@media (max-width: 1200px) {
  body {
    margin: 0;
  }

  #wrapper {
    width: 100%;
  }
} /* CSS for tablet */
