header {
  background-color: darkcyan;
  font-family: "arial black", verdana, sans-serif;
  height: 140px;
}

footer {
  background-color: darkcyan;
  font-size: 0.9em;
}

h2,
h3,
h4 {
  color: cadetblue;
  font-family: "times new roman", georgia, serif;
  font-style: italic;
}
