* {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  max-width: 1000px;
  margin-top: 150px;
  margin: auto;
}

#topHead {
  max-width: 1000px;
  height: 50px;
  margin: auto;
  padding: 15px;
}

#socialMedia a {
  text-decoration: none;
  padding: 5px;
}

#socialMedia {
  float: left;
}

#socialMediaFooter {
  float: left;
}

#socialMediaFooter a {
  text-decoration: none;
  padding: 5px;
}

#contactInfo {
  float: right;
  padding-top: 8px;
  font-size: 1.25em;
}

#contactInfo a {
  color: green;
  text-decoration: none;
}

#contactInfo a:hover {
  color: slategray;
  text-decoration: none;
}

#heroImg {
  max-width: 1000px;
  width: 100%;
  height: 380px;
}

main {
  margin-top: 135px;
}

header {
  width: 100%;
}

header img {
  height: 100px;
}

.parent {
  display: flex;
  top: 0;
  left: 0;
}
.image1 {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.image2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 60px;
  left: 0;
  right: 0;
  text-align: center;
  width: 150px;
  height: 150px;
  z-index: 2;
}

.col-md-4 p img {
  width: 50%;
  float: left;
  padding: 10px;
}

.col-md-4 p a {
  text-decoration: none;
  color: goldenrod;
}
.col-md-4 p a:hover {
  text-decoration: none;
  color: gold;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
nav li {
  text-align: center;
  padding-right: 20px;
  font-size: 1.15em;
  border: none;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: green;
}
nav a:hover {
  color: slateblue;
}

.col-md-4 img {
  width: 100%;
}

footer {
  margin: auto;
  background-color: seagreen;
  color: white;
  padding-top: 20px;
}

footer p {
  font-size: 0.75em;
}

footer a {
  color: lightgreen;
  text-decoration: none;
}
footer a:hover {
  color: wheat;
}

footer section {
  margin: auto;
  max-width: 1000px;
}

footer button {
  margin-top: 20px;
}

@media (max-width: 600px) {
  #topHead {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .image1 {
    padding-top: 2em;
  }
  .image2 {
    padding-top: 2em;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  nav li {
    border-bottom: 1px solid black;
  }
  nav li:last-of-type {
    border: none;
  }

  #heroImg {
    height: 200px;
    width: 100%;
  }
  button {
    margin-bottom: 20px;
  }

  .col-md-4 img {
    width: 50%;
    padding: 10px;
    float: left;
  }
  footer {
    text-align: center;
  }
  #socialMediaFooter {
    float: none;
    display: flex;
    justify-content: center;
  }
} /* end of medium/tablet size */
