* {
  box-sizing: border-box;
  margin: 0;
}

#wrapper {
  max-width: 1000px;
  margin-top: 150px;
  margin: auto;
}

#topHead {
  max-width: 1000px;
  height: 50px;
  margin: auto;
  padding: 15px;
}

#socialMedia a {
  text-decoration: none;
  padding: 5px;
}

#socialMedia {
  float: left;
}

#contactInfo {
  float: right;
  padding-top: 8px;
  font-size: 1.25em;
}

#heroImg {
  max-width: 1000px;
  width: 100%;
}

main {
  margin-top: 150px;
}

header {
  width: 100%;
}

header img {
  height: 100px;
}

.parent {
  display: flex;
  top: 0;
  left: 0;
}
.image1 {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.image2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 55px;
  left: 0;
  right: 0;
  text-align: center;
  width: 150px;
  height: 150px;
  z-index: 2;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
nav li {
  border-bottom: 1px solid #efefef;
  text-align: center;
  padding-right: 20px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.15em;
}
nav a {
  text-decoration: none;
  font-weight: bold;
}
nav a:visited {
  color: green;
}
nav a:hover {
  color: slateblue;
}

@media (max-width: 600px) {
  #topHead {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .image1 {
    padding-top: 2em;
  }
  .image2 {
    padding-top: 2em;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
} /* end of medium/tablet size */
