* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Verdana, Arial, sans-serif;
}

nav {
  float: left;
}

nav ul {
  list-style-type: none;
  padding: 1em;
}

nav a {
  text-decoration: none;
  padding: 1em;
  font-weight: bold;
}

header {
  background-color: #869dc7;
  color: #00005d;
  background-image: url(light2.jpg);
  padding: 1em 0 1em 190px;
  font-size: 130%;
  min-width: 600px;
  background-repeat: no-repeat;
  font-family: "Times New Roman", serif;
}

main {
  padding: 1em;
}

h2 {
  color: #869dc7;
  font-family: arial, sans-serif;
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
  text-align: center;
}

footer {
  background-color: #869dc7;
  font-size: 70%;
  text-align: center;
  padding: 2em;
}

/* Grid layout starts here */

#wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px auto 50px;
}
