/* See color palette:
http://marcomm.cofc.edu/brandmanual/bychapter/visualidentity/colorpalette.php
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #222222;
  background-image: url(../images/wide/RavenelBridge.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header h1 {
  text-align: center;
  font-size: 60px;
  color: #660000;
  font-style: italic;
  letter-spacing: 0.04em;
}

#container {
  width: 980px;
  margin: auto;
}

main {
  background-color: rgba(50, 50, 50, 0.6);
}

footer {
  clear: both;
  color: cornsilk;
  padding-top: 20px;
  text-align: center;
}
