/* See color palette:
http://marcomm.cofc.edu/brandmanual/bychapter/visualidentity/colorpalette.php
*/

@import url("https://use.typekit.net/rhg5cpr.css");

* {
  box-sizing: border-box;
}

body {
  background-color: #222222;
  background-image: url(../images/wide/RavenelBridge.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header h1 {
  text-align: center;
  font-size: 60px;
  color: #660000;
  font-style: italic;
  letter-spacing: 0.04em;
  font-family: adobe-caslon-pro;
}
header {
  border-radius: 10px;
  margin: 5px;
  text-shadow: 1px 1px #d95e00;
}

#container {
  width: 980px;
  margin: auto;
}

main {
  background-color: rgba(50, 50, 50, 0.6);
  padding-bottom: 2em;
  box-shadow: 10px 10px 10px #333;
  border-radius: 10px;
}

figure {
  width: 400px;
  padding: 10px;
  background-color: #dbceac;
  border: 4px solid maroon;
  /* float and margins */
}

figcaption {
  /* just make it look good */
  text-align: center;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

footer {
  clear: both;
  color: cornsilk;
  padding-top: 20px;
  text-align: center;
}

main p {
  padding: 1em;
  color: #beb9a6;
  font-size: 1.25em;
  font-family: Helvetica, sans-serif;
  text-align: justify;
}

nav img {
  border-radius: 50%;
  margin: 0.5em;
  border: 4px solid #d95e00;
}

nav img:hover {
  border: 4px solid #f69240;
}

#floatLeft {
  float: left;
}

#floatRight {
  float: right;
}
