* {  box-sizing: border-box;}

body {
	background-color: black;  
    margin:0;
    animation-name: rainbow; 
	animation-duration: 20s; 
	animation-timing-function: linear; 
	animation-iteration-count: infinite; 
}
 
#wrapper {
	width: 900px; 
	background-color: orange; 
	margin: auto; 
}

header {
	height: 250px; 
	background: #b23232;
    color: lightsalmon;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#leftcol {
	background-color: tomato; 
	padding: 20px; 
    width: 33%;
}

#rightcol {
    background-color: peachpuff; 
    padding: 15px; 		
    width: 66%; /* leave 1% gap between for color*/
	}
	
p, li {	
	font-family: 'century gothic', arial, verdana; 
} 

footer {
	clear: both; 
	padding: 20px; 
    background-color: #b8ff65; 
}	

@keyframes rainbow {
    0% { background: violet;  }
    14.3% { background: red; }
    28.6% { background: orange;    }
    42.9% { background: yellow;}
    57.2% { background: green;}
    71.5% { background: blue;}
    85.8% { background: indigo; }
    100% {background: violet; }
}
