#wrapper {
  width: 60vw;
  background-color: skyblue;
  margin: auto;
  padding: 1%;
}

body {
  background-color: lightblue;
}

table {
  border: 5px double darkblue;
  background-color: white;
  width: 80%;
  border-collapse: collapse;
  margin: auto;
}

td,
th {
  border: 1px solid royalblue;
  padding: 0.75em;
  font-family: Arial, sans-serif;
}

caption {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

tr:nth-of-type(even) {
  background-color: lightcyan;
}
tr:first-of-type {
  background-color: midnightblue;
  color: white;
}
