body {
  background-color: beige;
}

table {
  border: 5px double chocolate;
  background-color: white;
  width: 80%;
  border-collapse: collapse;
  margin: auto;
}

td,
th {
  border: 1px solid royalblue;
}
