.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* wrapper */
#wrapper {
  max-width: 1000px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  background-color: silver;
  padding: 1em;
}

body {
  background-color: lightslategray;
  background-image: linear-gradient(to bottom, #ffffff, lightslategray);
  background-repeat: no-repeat;
}

.question {
  font-weight: bold;
  line-height: 200%;
  color: darkcyan;
  font-size: 1.25em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header h1 {
  text-align: center;
  color: slateblue;
  background-color: cadetblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.answer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#codeIMG {
  float: left;
  padding-left: 1em;
}

#connectedGlobeIMG {
  float: right;
  padding-right: 1em;
}

header h3 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.15em;
}

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  padding: 1em;
}
